openapi: 3.0.1
info:
  title: Avatar Api v1
  version: v1
servers:
- url: https://avatar.roblox.com/
paths:
  /v1/avatar:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarModelV2'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarModelV2'
          description: OK
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
      summary: Returns details about the authenticated user's avatar
      tags:
      - Avatar
  /v1/avatar-rules:
    get:
      description: "BodyColorsPalette is a list of valid brickColors you can choose\
        \ for your avatar.\r\nWearableAssetTypes contains a list of asset types with\
        \ names, ids, and the maximum number that you can wear at a time.\r\nDoes\
        \ not include packages because they cannot be worn on your avatar directly.\r\
        \nPlayerAvatarTypes are the types of avatars you can choose between."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarRulesModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarRulesModel'
          description: OK
      summary: Returns the business rules related to avatars
      tags:
      - Avatar
  /v1/avatar/metadata:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarMetadataModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarMetadataModel'
          description: OK
      summary: Returns metadata used by the avatar page of the website
      tags:
      - Avatar
  /v1/game-start-info:
    get:
      parameters:
      - in: query
        name: universeId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.GameStartInfoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.GameStartInfoResponse'
          description: OK
      summary: "The server will call this on game server start to request general\
        \ information about the universe\r\nThis is version 1.1, which returns an\
        \ entry from the UniverseAvatarType enum.\r\nDuring mixed mode this may return\
        \ unreliable results."
      tags:
      - Avatar
  /v1/outfits/{userOutfitId}/details:
    get:
      parameters:
      - in: path
        name: userOutfitId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitDetailsModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitDetailsModel'
          description: OK
        "400":
          content: {}
          description: "1: The specified userOutfitId is invalid.\r\n2: The outfit\
            \ for the specified userOutfit is invalid."
        "403":
          content: {}
          description: "3: The requester does not have access to the details for the\
            \ given user outfit."
      tags:
      - Outfits
  /v1/recent-items/{recentItemListType}/list:
    get:
      parameters:
      - in: path
        name: recentItemListType
        required: true
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roblox.Web.WebAPI.Models.ApiLegacyPageResponse[Roblox.Api.Avatar.Models.RecentItemModel]"
            text/json:
              schema:
                $ref: "#/components/schemas/Roblox.Web.WebAPI.Models.ApiLegacyPageResponse[Roblox.Api.Avatar.Models.RecentItemModel]"
          description: OK
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
      summary: "Returns a list of recent items\r\nRecent items can be Assets or Outfits"
      tags:
      - RecentItem
  /v1/users/{userId}/avatar:
    get:
      description: "Includes assets, bodycolors, and playerAvatarType."
      parameters:
      - in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarModelV2'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarModelV2'
          description: OK
        "400":
          content: {}
          description: "1: The specified user does not exist.\r\n2: An account for\
            \ the given userId does not exist!"
      summary: Returns details about a specified user's avatar
      tags:
      - Avatar
  /v1/users/{userId}/currently-wearing:
    get:
      parameters:
      - description: The user id.
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetIdListModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetIdListModel'
          description: OK
        "400":
          content: {}
          description: "1: The specified user does not exist.\r\n2: An account for\
            \ the given userId does not exist!"
      summary: Gets a list of asset ids that the user is currently wearing
      tags:
      - Avatar
  /v1/users/{userId}/outfits:
    get:
      parameters:
      - description: The user id.
        in: path
        name: userId
        required: true
        schema:
          format: int64
          type: integer
      - description: "The outfit type being searched for, null will return all outfitTypes"
        in: query
        name: outfitType
        schema:
          type: string
      - description: "The page number of the current page of requests, default is\
          \ 1."
        in: query
        name: page
        schema:
          default: 1
          format: int32
          type: integer
      - description: The max number of outfits that can be returned.
        in: query
        name: itemsPerPage
        schema:
          default: 25
          format: int32
          type: integer
      - description: Whether the outfits are editable. A null value will lead to no
          filtering.
        in: query
        name: isEditable
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Roblox.Api.Avatar.Models.AvatarFilteredPageResponse[Roblox.Api.Avatar.Models.OutfitModel]"
            text/json:
              schema:
                $ref: "#/components/schemas/Roblox.Api.Avatar.Models.AvatarFilteredPageResponse[Roblox.Api.Avatar.Models.OutfitModel]"
          description: OK
        "400":
          content: {}
          description: "1: The specified user does not exist.\r\n2: An account for\
            \ the given userId does not exist!"
      summary: "Deprecated, user v2.\r\nGets a list of outfits for the specified user."
      tags:
      - Avatar
  /v1/avatar/assets/{assetId}/remove:
    post:
      parameters:
      - description: The asset id.
        in: path
        name: assetId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "2: Failed to remove asset."
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n1: You must be wearing the asset\
            \ to remove it."
      summary: Removes the asset from the authenticated user's avatar.
      tags:
      - Avatar
  /v1/avatar/assets/{assetId}/wear:
    post:
      parameters:
      - description: The asset id.
        in: path
        name: assetId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "2: Failed to wear asset."
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n1: You must own an asset to\
            \ wear it."
      summary: "Puts the asset on the authenticated user's avatar.\r\n- Flagged as\
        \ obsolete, does not support layered clothing meta params"
      tags:
      - Avatar
  /v1/avatar/redraw-thumbnail:
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Controllers.V1.AvatarController.EmptyResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Controllers.V1.AvatarController.EmptyResponse'
          description: OK
        "429":
          content: {}
          description: "1: Redrawing your avatar thumbnail is floodchecked at this\
            \ time\r\n1: Redrawing your avatar thumbnail is floodchecked at this time"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed"
      summary: Requests the authenticated user's thumbnail be redrawn
      tags:
      - Avatar
  /v1/avatar/set-body-colors:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.BodyColorsModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.BodyColorsModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed"
      summary: Sets the authenticated user's body colors
      tags:
      - Avatar
      x-codegen-request-body-name: bodyColorsModel
  /v1/avatar/set-player-avatar-type:
    post:
      description: This is the avatar type chosen on the Avatar page. Some games can
        override this and force your character to be R6 or R15.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.PlayerAvatarTypeModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.PlayerAvatarTypeModel'
        description: R6 or R15
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "1: Invalid playerAvatarType. Valid values are: "
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n2: You are not allowed to change\
            \ player avatar type."
      summary: Sets the authenticated user's player avatar type (e.g. R6 or R15).
      tags:
      - Avatar
      x-codegen-request-body-name: playerAvatarTypeModel
  /v1/avatar/set-scales:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Web.Responses.Avatar.ScaleModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Web.Responses.Avatar.ScaleModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "1: Please pass in the scales JSON"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n3: The user does not have permissions\
            \ to change scales."
      summary: Sets the authenticated user's scales
      tags:
      - Avatar
      x-codegen-request-body-name: scalesModel
  /v1/avatar/set-wearing-assets:
    post:
      description: "Only allows items that you own, are not expired, and are wearable\
        \ asset types.\r\nAny assets being worn before this method is called are automatically\
        \ removed."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetIdListModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetIdListModel'
        description: The list of asset IDs
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.WearResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.WearResponseModel'
          description: OK
        "400":
          content: {}
          description: "3: Invalid assetId"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed"
        "500":
          content: {}
          description: "2: Failed to wear asset."
      summary: "Sets the avatar's current assets to the list\r\n- Flagged as obsolete,\
        \ does not support layered clothing meta params"
      tags:
      - Avatar
      x-codegen-request-body-name: assetIdsModel
  /v1/outfits/{userOutfitId}/delete:
    post:
      description: You are only allowed to delete outfits you created.
      parameters:
      - description: The user outfit id
        in: path
        name: userOutfitId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "1: The specified userOutfitId is invalid!"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n2: You don't have permission\
            \ to delete this outfit."
        "500":
          content: {}
          description: "3: An error occurred while deleting the outfit."
      summary: Deletes the outfit
      tags:
      - Outfits
  /v1/outfits/{userOutfitId}/update:
    post:
      deprecated: true
      description: Fails if the user does not own any of the assetIds or if they are
        not wearable asset types.
      parameters:
      - description: The user outfit id.
        in: path
        name: userOutfitId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitUpdateModelV1'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitUpdateModelV1'
        description: The updated outfit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "1: The specified userOutfit does not exist!\r\n3: Body colors\
            \ must be valid BrickColor IDs\r\n4: Invalid outfit name\r\n5: Asset is\
            \ not wearable by you\r\n7: Invalid assetIds\r\n8: Invalid Player Avatar\
            \ Type. Valid types are R6 and R15"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n2: You don't have permission\
            \ to update this outfit."
        "500":
          content: {}
          description: "6: An error occurred while trying to update the outfit"
      summary: Updates the contents of the outfit. Deprecated. There are no calls
        to this API
      tags:
      - Outfits
      x-codegen-request-body-name: outfitUpdateModel
  /v1/outfits/{userOutfitId}/wear:
    post:
      description: "Applies the outfit's appearance to your avatar\r\nIf the user\
        \ no longer owns one or more of the assets, invalidAssetIds will be populated\
        \ with the unwearable assets."
      parameters:
      - description: The user outfit id
        in: path
        name: userOutfitId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.WearResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.WearResponseModel'
          description: OK
        "400":
          content: {}
          description: "1: The specified userOutfitId is invalid!"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n2: You don't have permission\
            \ to wear this outfit!"
        "429":
          content: {}
          description: "3: The flood limit has been exceeded!"
      summary: Wears the outfit
      tags:
      - Outfits
  /v1/outfits/create:
    post:
      description: "Fails if any of the assetIds are not owned by the user, or not\
        \ wearable types.\r\nThe name property of the request is optional as one will\
        \ be auto-generated when the request has a null name."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitUpdateModelV1'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitUpdateModelV1'
        description: The new outfit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AvatarApiSuccessResponse'
          description: OK
        "400":
          content: {}
          description: "3: Body colors must be valid BrickColor IDs\r\n4: Invalid\
            \ outfit name\r\n5: Asset is not wearable by you and was not added to\
            \ the outfit\r\n7: Invalid Player Avatar Type. Valid types are R6 and\
            \ R15\r\n8: Invalid assetIds"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n1: You already have the maximum\
            \ number of outfits"
        "500":
          content: {}
          description: "6: An error occurred while creating the outfit"
      summary: Creates a new outfit.
      tags:
      - Outfits
      x-codegen-request-body-name: outfitUpdateModel
  /v1/outfits/{userOutfitId}:
    patch:
      deprecated: true
      description: Fails if the user does not own any of the assetIds or if they are
        not wearable asset types. Accepts partial updates.
      parameters:
      - description: The user outfit id.
        in: path
        name: userOutfitId
        required: true
        schema:
          format: int64
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitUpdateModelV1'
          text/json:
            schema:
              $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitUpdateModelV1'
        description: The updated outfit
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitModel'
          description: OK
        "400":
          content: {}
          description: "1: The specified userOutfit does not exist!\r\n1: Must provide\
            \ both assetIds and bodyColors in to update outfit contents.\r\n3: Body\
            \ colors must be valid BrickColor IDs\r\n4: Invalid outfit name\r\n5:\
            \ Asset is not wearable by you\r\n8: Invalid Player Avatar Type. Valid\
            \ types are R6 and R15"
        "401":
          content: {}
          description: "0: Authorization has been denied for this request."
        "403":
          content: {}
          description: "0: Token Validation Failed\r\n2: You don't have permission\
            \ to update this outfit."
        "500":
          content: {}
          description: "6: An error occurred while trying to update the outfit"
      summary: Updates the contents of an outfit. Deprecated. There are no calls to
        this API
      tags:
      - Outfits
      x-codegen-request-body-name: outfitUpdateModel
components:
  schemas:
    Avatar.Common.Models.AccessoryPositionModel:
      example:
        xPosition: 9.301444243932576
        yPosition: 3.616076749251911
        zPosition: 2.027123023002322
      properties:
        xPosition:
          format: double
          type: number
        yPosition:
          format: double
          type: number
        zPosition:
          format: double
          type: number
      type: object
    Avatar.Common.Models.AccessoryRefinementModel:
      example:
        rotation:
          xRotation: 4.145608029883936
          zRotation: 1.2315135367772556
          yRotation: 7.386281948385884
        scale:
          xScale: 1.0246457001441578
          yScale: 1.4894159098541704
          zScale: 6.84685269835264
        position:
          xPosition: 9.301444243932576
          yPosition: 3.616076749251911
          zPosition: 2.027123023002322
      properties:
        position:
          $ref: '#/components/schemas/Avatar.Common.Models.AccessoryPositionModel'
        rotation:
          $ref: '#/components/schemas/Avatar.Common.Models.AccessoryRotationModel'
        scale:
          $ref: '#/components/schemas/Avatar.Common.Models.AccessoryScaleModel'
      type: object
    Avatar.Common.Models.AccessoryRotationModel:
      example:
        xRotation: 4.145608029883936
        zRotation: 1.2315135367772556
        yRotation: 7.386281948385884
      properties:
        xRotation:
          format: double
          type: number
        yRotation:
          format: double
          type: number
        zRotation:
          format: double
          type: number
      type: object
    Avatar.Common.Models.AccessoryScaleModel:
      example:
        xScale: 1.0246457001441578
        yScale: 1.4894159098541704
        zScale: 6.84685269835264
      properties:
        xScale:
          format: double
          type: number
        yScale:
          format: double
          type: number
        zScale:
          format: double
          type: number
      type: object
    Roblox.Api.Avatar.Controllers.V1.AvatarController.EmptyResponse:
      description: "Empty response, will be in WebAPI base soon"
      type: object
    Roblox.Api.Avatar.Models.AssetIdListModel:
      description: A model that contains a list of asset ids
      example:
        assetIds:
        - 0
        - 0
      properties:
        assetIds:
          description: The asset ids
          items:
            format: int64
            type: integer
          type: array
      type: object
    Roblox.Api.Avatar.Models.AssetMetaModelV1:
      description: Exhaustive model denoting all possible metadata fields of an asset
      example:
        puffiness: 1.1730742
        rotation:
          X: 9.36931
          "Y": 6.6835623
          Z: 8.762042
        scale:
          X: 6.4384236
          "Y": 3.5571952
          Scale: 9.018348
          Z: 6.965118
        position:
          X: 4.9652185
          "Y": 5.025005
          Z: 9.965781
        version: 1
        order: 7
      properties:
        order:
          description: Layered-clothing order
          format: int32
          type: integer
        puffiness:
          description: Layered-clothing puffiness
          format: float
          type: number
        position:
          $ref: '#/components/schemas/Roblox.Avatarcore.Shared.V3Beta1.AssetPosition'
        rotation:
          $ref: '#/components/schemas/Roblox.Avatarcore.Shared.V3Beta1.AssetRotation'
        scale:
          $ref: '#/components/schemas/Roblox.Avatarcore.Shared.V3Beta1.AssetScale'
        version:
          description: "Client-authoritative meta model format version\r\n- default\
            \ is always 1"
          format: int32
          type: integer
      type: object
    Roblox.Api.Avatar.Models.AssetModelV2:
      description: "A model containing details about an asset\r\n- V2: adds CurrentVersionId,\
        \ AssetMetaModel"
      example:
        meta:
          puffiness: 1.1730742
          rotation:
            X: 9.36931
            "Y": 6.6835623
            Z: 8.762042
          scale:
            X: 6.4384236
            "Y": 3.5571952
            Scale: 9.018348
            Z: 6.965118
          position:
            X: 4.9652185
            "Y": 5.025005
            Z: 9.965781
          version: 1
          order: 7
        name: name
        currentVersionId: 6
        id: 1
        assetType:
          name: name
          id: 1
      properties:
        id:
          description: The id
          format: int64
          type: integer
        name:
          description: The name
          type: string
        assetType:
          $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetTypeModel'
        currentVersionId:
          description: Id of the current version of asset
          format: int64
          type: integer
        meta:
          $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetMetaModelV1'
      type: object
    Roblox.Api.Avatar.Models.AssetTypeModel:
      description: A model containing details about an asset type
      example:
        name: name
        id: 1
      properties:
        id:
          description: The id
          format: int64
          type: integer
        name:
          description: The name
          type: string
      type: object
    Roblox.Api.Avatar.Models.AssetTypeRulesModel:
      description: A model containing details about an asset type and its business
        rules
      example:
        maxNumber: 5
        name: name
        id: 2
      properties:
        maxNumber:
          description: The max number of this asset type that can be worn
          format: int32
          type: integer
        id:
          description: The id
          format: int64
          type: integer
        name:
          description: The name
          type: string
      type: object
    Roblox.Api.Avatar.Models.AvatarApiSuccessResponse:
      description: Success response class
      example:
        success: true
      properties:
        success:
          description: Gets or sets a value indicating whether the request was a success.
          type: boolean
      type: object
    Roblox.Api.Avatar.Models.AvatarFilteredPageResponse[Roblox.Api.Avatar.Models.OutfitModel]:
      description: Filtered page response
      example:
        filteredCount: 0
        total: 1
        data:
        - isEditable: true
          name: name
          id: 6
        - isEditable: true
          name: name
          id: 6
      properties:
        filteredCount:
          description: Number of !:TPagedObject filtered.
          format: int32
          type: integer
        data:
          items:
            $ref: '#/components/schemas/Roblox.Api.Avatar.Models.OutfitModel'
          type: array
        total:
          format: int64
          type: integer
      type: object
    Roblox.Api.Avatar.Models.AvatarMetadataModel:
      description: A model containing website metadata for avatars
      example:
        scaleProportionIncrement: 5.962133916683182
        LCEnabledInEditorAndCatalog: true
        supportProportionAndBodyType: true
        isAvatarScaleEmbeddedInTab: true
        isCategoryReorgEnabled: true
        enableDefaultClothingMessage: true
        isBodyTypeScaleOutOfTab: true
        scaleBodyTypeIncrement: 5.637376656633329
        scaleWidthIncrement: 6.027456183070403
        areThreeDeeThumbsEnabled: true
        isLCCompletelyEnabled: true
        scaleHeightIncrement: 0.8008281904610115
        scaleHeadIncrement: 1.4658129805029452
        isOutfitHandlingOnFrontendEnabled: true
        isJustinUiChangesEnabled: true
        showDefaultClothingMessageOnPageLoad: true
        isAvatarWearingApiCallsLockingOnFrontendEnabled: true
      properties:
        enableDefaultClothingMessage:
          description: Whether or not to show the Default Clothing message
          type: boolean
        isAvatarScaleEmbeddedInTab:
          description: Whether or not the Scales is embedded in the tab
          type: boolean
        isBodyTypeScaleOutOfTab:
          description: Whether or not the Boby Type scale is embedded in the tab
          type: boolean
        scaleHeightIncrement:
          description: How much the height scaler should increment by
          format: double
          type: number
        scaleWidthIncrement:
          description: How much the width scaler should increment by
          format: double
          type: number
        scaleHeadIncrement:
          description: How much the head scaler should increment by
          format: double
          type: number
        scaleProportionIncrement:
          description: How much the proportion scaler should increment by
          format: double
          type: number
        scaleBodyTypeIncrement:
          description: How much the body type scaler should increment by
          format: double
          type: number
        supportProportionAndBodyType:
          description: Whether or not to support proportion and body type
          type: boolean
        showDefaultClothingMessageOnPageLoad:
          description: Whether or not to show the default clothing message when the
            page loads
          type: boolean
        areThreeDeeThumbsEnabled:
          description: Whether or not 3D thumbnails are shown
          type: boolean
        isAvatarWearingApiCallsLockingOnFrontendEnabled:
          description: Does the frontend lock avatar editor input until the wearing
            call returns
          type: boolean
        isOutfitHandlingOnFrontendEnabled:
          description: Does the frontend lock avatar editor input until the wearing
            call returns
          type: boolean
        isJustinUiChangesEnabled:
          description: Determines whether a bunch of UI improvements are released
          type: boolean
        isCategoryReorgEnabled:
          description: Determines whether Category Reorg is released
          type: boolean
        LCEnabledInEditorAndCatalog:
          description: "Flag for both web UI and App, name is fixed due to sharing,\
            \ do not change"
          type: boolean
        isLCCompletelyEnabled:
          description: "Useful for the time between enabling Jackets for most users\
            \ and\r\nall LC types for everyone, meanwhile Soothsayers need all types\r\
            \nat all times"
          type: boolean
      type: object
    Roblox.Api.Avatar.Models.AvatarModelV2:
      description: A model containing details about an avatar
      example:
        defaultShirtApplied: true
        assets:
        - meta:
            puffiness: 1.1730742
            rotation:
              X: 9.36931
              "Y": 6.6835623
              Z: 8.762042
            scale:
              X: 6.4384236
              "Y": 3.5571952
              Scale: 9.018348
              Z: 6.965118
            position:
              X: 4.9652185
              "Y": 5.025005
              Z: 9.965781
            version: 1
            order: 7
          name: name
          currentVersionId: 6
          id: 1
          assetType:
            name: name
            id: 1
        - meta:
            puffiness: 1.1730742
            rotation:
              X: 9.36931
              "Y": 6.6835623
              Z: 8.762042
            scale:
              X: 6.4384236
              "Y": 3.5571952
              Scale: 9.018348
              Z: 6.965118
            position:
              X: 4.9652185
              "Y": 5.025005
              Z: 9.965781
            version: 1
            order: 7
          name: name
          currentVersionId: 6
          id: 1
          assetType:
            name: name
            id: 1
        playerAvatarType: 7
        bodyColors:
          rightLegColorId: 7
          leftLegColorId: 1
          torsoColorId: 3
          leftArmColorId: 4
          headColorId: 9
          rightArmColorId: 2
        emotes:
        - assetId: 2
          assetName: assetName
          position: 6
        - assetId: 2
          assetName: assetName
          position: 6
        scales:
          head: 1.4658129805029452
          bodyType: 2.3021358869347655
          depth: 5.962133916683182
          proportion: 5.637376656633329
          width: 6.027456183070403
          height: 0.8008281904610115
        defaultPantsApplied: true
      properties:
        scales:
          $ref: '#/components/schemas/Roblox.Web.Responses.Avatar.ScaleModel'
        playerAvatarType:
          description: "The avatar type ['R6' = 1, 'R15' = 3]"
          enum:
          - 1
          - 3
          format: int32
          type: integer
        bodyColors:
          $ref: '#/components/schemas/Roblox.Api.Avatar.Models.BodyColorsModel'
        assets:
          description: The assets worn on the character
          items:
            $ref: '#/components/schemas/Roblox.Api.Avatar.Models.AssetModelV2'
          type: array
        defaultShirtApplied:
          description: Whether default clothing has been applied to this avatar.
          type: boolean
        defaultPantsApplied:
          description: Whether default clothing has been applied to this avatar.
          type: boolean
        emotes:
          description: The emotes on the character
          items:
            $ref: '#/components/schemas/Roblox.Api.Avatar.Models.EmoteResponseModel'
          type: array
      type: object
    Roblox.Api.Avatar.Models.AvatarRulesModel:
      description: A model containing details about avatar-related business rules
      example:
        playerAvatarTypes:
        - 0
        - 0
        basicBodyColorsPalette:
        - hexColor: hexColor
          brickColorId: 7
          name: name
        - hexColor: hexColor
          brickColorId: 7
          name: name
        emotesEnabledForUser: true
        accessoryRefinementLowerBounds:
          Torso:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          App:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          JacketAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RightArm:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          SwimAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          GroupEmblem:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          HTML:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Image:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          MeshPart:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Gear:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LeftShoeAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LocalizationTableManifest:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ShortsAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Shirt:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          PoseAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          TShirt:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FallAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          SolidModel:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Head:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          IdleAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          TexturePack:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          GamePass:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ClimbAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          EyelashAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Arms:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Mesh:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Pants:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Code:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          SweaterAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RightShoeAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          EyebrowAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LeftArm:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RightLeg:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          MeshHiddenSurfaceRemoval:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Video:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          WalkAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Package:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          HairAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RunAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          EmoteAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          MoodAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          CodeSnippet:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Badge:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          TShirtAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          NeckAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          WaistAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          BackAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Lua:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          YouTubeVideo:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Face:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ShirtAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Decal:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Legs:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LeftLeg:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FontFamily:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ShoulderAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          DynamicHead:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Text:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          DressSkirtAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Avatar:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          DeathAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FontFace:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LocalizationTableTranslation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Model:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Animation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          JumpAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Hat:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FaceAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FrontAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Audio:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Place:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Plugin:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          PantsAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
        bodyColorsPalette:
        - hexColor: hexColor
          brickColorId: 7
          name: name
        - hexColor: hexColor
          brickColorId: 7
          name: name
        accessoryRefinementTypes:
        - 7
        - 7
        bundlesEnabledForUser: true
        accessoryRefinementUpperBounds:
          Torso:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          App:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          JacketAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RightArm:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          SwimAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          GroupEmblem:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          HTML:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Image:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          MeshPart:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Gear:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LeftShoeAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LocalizationTableManifest:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ShortsAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Shirt:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          PoseAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          TShirt:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FallAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          SolidModel:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Head:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          IdleAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          TexturePack:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          GamePass:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ClimbAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          EyelashAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Arms:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Mesh:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Pants:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Code:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          SweaterAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RightShoeAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          EyebrowAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LeftArm:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RightLeg:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          MeshHiddenSurfaceRemoval:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Video:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          WalkAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Package:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          HairAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          RunAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          EmoteAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          MoodAnimation:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          CodeSnippet:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Badge:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          TShirtAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          NeckAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          WaistAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          BackAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Lua:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          YouTubeVideo:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Face:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ShirtAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Decal:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Legs:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          LeftLeg:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          FontFamily:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          ShoulderAccessory:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          DynamicHead:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
            scale:
              xScale: 1.0246457001441578
              yScale: 1.4894159098541704
              zScale: 6.84685269835264
            position:
              xPosition: 9.301444243932576
              yPosition: 3.616076749251911
              zPosition: 2.027123023002322
          Text:
            rotation:
              xRotation: 4.145608029883936
              zRotation: 1.2315135367772556
              yRotation: 7.386281948385884
[...]
